$gray-lightest:     #F8F8F8;
$gray-lighter:      #EEEEEE;
$gray-light:        #DDDDDD;
$gray:              #CCCCCC;
$gray-dark:         #999999;
$gray-darker:       #666666;
$gray-darkest:      #333333;

$green:             #156F78;
$purple:            #493252;
$red:               #E25440;
$slate:             #3D4260;

$primary-color:     #f8f5ee;
$secondary-color:   #6bb7bf;
$third-color:       #769cac;

$link-color:        #9FD067;
$hover-color:       darken($link-color, 5%);

$sans-font:         "Helvetica Neue","Source Sans Pro","Noto Sans",source-sans-pro,"Segoe UI",Helvetica,Arial,DengXian,"Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Source Han Sans","Microsoft Yahei",STHeiti,STXihei,"Heiti SC",Hei,"Hiragino Sans GB",SimHei,sans-serif;
$serif-font:        'Times New Roman', serif;
$monospace-font : "Source Code Pro",source-code-pro,Monaco,Consolas,Menlo,'Lucida Console',monospace,sans-serif;

$header-font-color: $gray-lightest;
$primary-font-color: $gray-darkest;
$secondary-font-color: #fff;
