.juan_drop + input{
    display: none; /* hide the checkboxes */
 }
   
 .juan_drop + input + div{
     display:none;
 }
   
 .juan_drop + input:checked + div{
     display:block;
 }

.juan_drop {
    display: inline;
    border-radius: 5px;
    background-color: rgb(235, 236, 155);
}

.juan_drop::after {
    content: '\a\a';
    white-space: pre;
}

.entry_name {
    font-size: 28px;
}

.origin {
    padding-left: 34px;
    color: rgb(137, 139, 141);
}

emphasis {
    font-weight: 700;
}
