*{
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    line-height:1.5em;
}

html, body{
    height:100%;
}

body{
    background:#fff;
    font-family: arial, helvetica, sans-serif;
    color:#333333;
    flex-direction:column;
    min-height:100%;
    overflow-y:scroll;
}

input, submit, select, textarea, button{
    font-size:inherit;
}

ul, ol{
    list-style-type:none;
}

a{
    color:inherit;
    text-decoration:inherit;
}

a:hover{
    cursor:pointer;
}

h1{
    display:block;
    font-size:1.6em;
    margin-bottom: 20px;
}

/* transition */

a{
    -webkit-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;
}

/* end */

/* entry content */

.entry_content, 
.page_content,
.error_content {
    margin: 28px 50px 20px 50px;
}

.EXAMPLE{
    color:#778899;
    margin-left:20px;
}

.entry_content .dictionary .defRef{
    border-bottom: thin dotted gray;
}

/* end */

/* mobile */

@media screen and (max-width: 761px){
    h1{
        font-size:1.6em;
        margin-top: 5px;
    }

    .entry_content,
    .page_content,
    .error_content {
        margin: 15px 10px 10px 10px;
    }
}

/* tablet */

@media screen and (min-width: 762px) and (max-width: 947px){

    h1 {
    margin-bottom: 10px;
    }

    .entry_content,
    .page_content,
    .error_content {
        margin: 20px 20px 10px 20px;
    }
}

/* Desktop */

/* Small desktop screen */

@media screen and (min-width: 948px) and (max-width: 1224px){

    .entry_content,
    .page_content,
    .error_content {
        margin: 28px 20px 20px 20px;
    }

    .browse_groups,
    .browse_results {
        list-style:disc outside;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
/* *** FREEONLINE*** */
.pagetitle {
    font-size : 1.6em;
    font-weight : bold;
}

.infls,
.description,
.title,
.url,
.summary,
.og,
.infls,
.description,
.title,
.url,
.summary,
.og {
    display : block;
}

.title:before,
.title:before {
    content : 'title: ';
}

.exaGroup .title:before,
.exaGroup .title:before {
    content : '';
}

.Crossrefto {
    color : blue;
    font-weight:bold
}

.suppressed {
    display : none;
}

.og .title:before,
.og .title:before {
    content : 'og.title: ';
}

.url:before {
    content : 'url: ';
}

.og .url:before,
.og .url:before {
    content : 'og.url: ';
}

.assetref,
.assetref {
    display : block;
}

.assettype {
    font-weight : bold;
    color : #364395;
}

.dictentry {
    display : block;
    margin-bottom : 25px;
}

.assets_intro,
.asset_intro {
    border : solid 1px ;
    border-color : #f1d600;
    background-color:#f1d600;
    color : #fff;
    font-weight:normal;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    padding-left : 3px;
    padding-right : 3px;
}

.right_col .yellow_box {
    margin-bottom: 10px;
    display: inline-block;
}

.yellow_box {
    margin-top: 22px;
}

/* ****  LDOCE  ************************** */
.ldoceEntry .Entry
{
    font-size : 12pt;
    text-align : justify;
    display : block;
    margin-top : 8px;
}

.ldoceEntry .Thesref {
    color : #364395;
}


.ldoceEntry .ABBR
{
    font-weight : bold;
}

.ldoceEntry .ACTIV
{
    display : none;
}

.ldoceEntry .AMEQUIV
{
    font-weight : bold;
}

.ldoceEntry .BOX
{
    display : none;
}

.ldoceEntry .BREQUIV
{
    font-weight : bold;
}

.ldoceEntry .COLLO
{
    font-weight : bold;
    margin-left : 20px;
}

.ldoceEntry .ColloExa
{
    display : block;
}

.ldoceEntry .COLLOINEXA
{
    font-weight : bold;
}

.ldoceEntry .COMMENT
{
    display : none;
}

.ldoceEntry .COMP
{
    font-weight : bold;
}

.ldoceEntry .Crossrefto
{
    font-weight : bold;
    font-size : 120%;
}

.ldoceEntry .DERIV
{
    font-weight : bold;
    font-size : 120%;
}

.ldoceEntry .Entry
{
    font-size : 11pt;
    text-align : justify;
}

.ldoceEntry .ErrorBox
{
    display : block;
}

.ldoceEntry .EXAMPLE
{
    display : block;
    margin-left : 20px;
    color : gray;
}


.ldoceEntry .FIELD
{
    display : none;
}

.ldoceEntry .AC,
.ldoceEntry .synopp {
    color : #fff;
    border-color: #f1d600;
    background-color:#f1d600;
}

.ldoceEntry .FREQ
{
    color : red;
    border-color : red;
}

.ldoceEntry .LEVEL
{
    color : red;
    font-size : 120%;
}

.ldoceEntry .FULLFORM
{
    font-weight : bold;
}

.ldoceEntry .GEO,
.ldoceEntry .geo
{
    font-weight : normal;
    color : #364395;
}

.ldoceEntry .GLOSS
{
    color : #364395;
    font-weight : normal;
    font-style : normal;
}

.ldoceEntry .GRAM,
.bussdictEntry .GRAM
{
    color : green;
    font-weight:bold;
    margin:0 5px 10px 3px
}

.ldoceEntry .GramExa
{
    display : block;
}

.ldoceEntry .HINTBOLD
{
    font-weight : bold;
}

.ldoceEntry .HINTITALIC
{
    font-style : italic;
}

.ldoceEntry .HINTTITLE
{
    font-weight : bold;
}

.ldoceEntry .frequent .HOMNUM {
    vertical-align : super;
    font-size : 12pt;
    color : red;
    font-weight : bold;
}

.ldoceEntry .frequent .HYPHENATION {
    color : red;
    font-size : 160%;
}
.ldoceEntry .HOMNUM
{
    vertical-align : super;
    font-size : 12pt;
    color : red;
    font-weight : bold;
}

.ldoceEntry .HWD
{
    display : none;
}

.ldoceEntry .HYPHENATION,
.ldoceEntry .PHRVBHWD
{
    font-weight : bold;
    font-size : 160%;
    color : red;
}

.ldoceEntry .LEXUNIT,
.ldoceEntry .LEXVAR
{
    font-weight : bold;
}

.ldoceEntry .LINKWORD
{
    color : #364395;
}

.ldoceEntry .NOTE,
.ldoceEntry .Noteprompt
{
    display : none;
}

.ldoceEntry .OBJECT
{
    font-weight : normal;
}

.ldoceEntry .OPP,
.ldoceEntry .ORTHVAR,
.ldoceEntry .PASTPART,
.ldoceEntry .PASTTENSE
{
    font-weight : bold;
}

.ldoceEntry .PhrVbEntry
{
    display : block;
}

.ldoceEntry .PIC,
.ldoceEntry .PICCAL
{
    display : none;
}

.ldoceEntry .PLURALFORM
{
    font-weight : bold;
}

.ldoceEntry .POS,
.bussdictEntry .POS
{
    color : green;
    font-weight:bold;
    margin:0 0 0 10px
}

.ldoceEntry .PRESPART,
.ldoceEntry .PRESPARTX
{
    font-weight : bold;
}

.ldoceEntry .PROPFORM
{
    font-weight : bold;
    margin-left : 20px;
}

.ldoceEntry .PROPFORMPREP
{
    font-weight : bold;
    margin-left : 20px;
}

.ldoceEntry .PTandPP,
.ldoceEntry .PTandPPX
{
    font-weight : bold;
}

.ldoceEntry .REFHOMNUM
{
    vertical-align : super;
    font-size : 60%;
}

.ldoceEntry .REFHWD
{
    font-weight : bold;
    font-style : normal;
}

.ldoceEntry .REFLEX
{
    font-weight : bold;
}

.ldoceEntry .REGISTERLAB
{
    color : purple;
    font-style : italic;
}

.ldoceEntry .RELATEDWD
{
    font-weight : bold;
    color:blue;
}

.ldoceEntry .RunOn
{
    display : block;
    margin-bottom : 10px;
}

.ldoceEntry .Sense {
    display : block;
    margin-left : 20px;
    margin-bottom : 15px;
}

.ldoceEntry .SIGNPOST
{
    background-color: #f18500;
    color: white;
    font-weight: bold;
    font-size: 79%;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* padding-left: 3px; */
    /* padding-right: 3px; */
    padding: 0px 5px;
    letter-spacing: 1px;
}

.ldoceEntry .STRONG
{
    font-style : italic;
}

.ldoceEntry .Subsense
{
    display : block;
    margin-left : 10px;
}

.ldoceEntry .SUPERL,
.ldoceEntry .SYN,
.ldoceEntry .T3PERSSING,
.ldoceEntry .T3PERSSINGX
{
    font-weight : bold;
}

.ldoceEntry .UNCLASSIFIED
{
    font-weight : bold;
}

.ldoceEntry .USAGE
{
    display : none;
}

.ldoceEntry .GramBox .CROSS .neutral {
    color: red;
    margin-right: 10px;
}

.ldoceEntry .neutral
{
    color : black;
    font-style : normal;
    font-weight : normal;
    font-variant : normal;
}

 .ldoceEntry .EXPL .cross,
 .ldoceEntry .GramBox .EXPL .dont_say,
 .ldoceEntry .BADEXA
{
    color : red;
}

.ldoceEntry .italic
{
    font-style : italic;
    font-weight : normal;
}

.ldoceEntry .infllab
{
    font-style : italic;
    font-weight : normal;
}

.ldoceEntry .warning
{
    font-style : normal;
    font-weight : bold;
    color : red;
}

.ldoceEntry .sensenum
{
    font-style : normal;
    font-weight : bold;
    color : black;
}

.ldoceEntry .synopp,
.ldoceEntry .FREQ,
.ldoceEntry .AC
{
    display : inline-block;
    font-style : normal;
    font-weight : bold;
    text-transform : uppercase;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border : solid 1px;
    padding-left : 4px;
    padding-right : 4px;
}

.ldoceEntry .ColloBox,
.ldoceEntry .ThesBox,
.ldoceEntry .F2NBox,
.ldoceEntry .GramBox {
    display : block;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border : solid #364395 1px;
    padding : 15px;
    margin : 8px 0;
}

.GramBox{
    background-color:#fff;
    color:#000
}

.GramBox .boxheader {
    line-height:2em
}

.ColloBox .heading {
    line-height:2em;
    margin:0 10px 0  0
}

.ThesBox .heading{
    line-height:2em
}

.ldoceEntry .HEADING,
.ldoceEntry .heading {
    font-weight : bold;
    font-size : 120%;
    color : #364395;
}

.ldoceEntry .HEADING.newline {
    display : block;
}

.ldoceEntry .SECHEADING,
.ldoceEntry .subheading {
    display : table;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    border : solid #6f469d 2px;
    padding-left : 4px;
    padding-right : 20px;
    margin:25px 0 10px 0;
    font-weight : bold;
    color : white;
    text-transform : uppercase;
    background-color : #6f469d;
}

.ldoceEntry .Collocate,
.ldoceEntry .Exponent {
    display : block;
    margin:15px 0 0 6px;
}

.ldoceEntry .EXPL {
    display : block;
}

.ldoceEntry .COLLOC,
.ldoceEntry .EXP,
.ldoceEntry .EXPR {
    font-weight : bold;
}

.ldoceEntry .keycollo {
    font-weight : bold;
    color : #364395;
}

.ldoceEntry .THESPROPFORM {
    font-weight : bold;
}

.ldoceEntry .COLLEXA,
.ldoceEntry .THESEXA {
    color : gray;
    display : block;
}


.ldoceEntry .LearnerItem {
    display : block;
}

.ldoceEntry .GOODCOLLO {
    font-style : italic;
}

.ldoceEntry .BADCOLLO {
    text-decoration : line-through;
}

.ldoceEntry .DEFBOLD {
    font-weight : bold;
}

.ldoceEntry .exafile {
    color : gray;
    font-style : normal;
    font-size : 120%;
    padding: 5px;
}

.ldoceEntry .amefile {
    color : #4693db;
    font-size : 130%;
    padding-left: 5px;
}

.ldoceEntry .brefile {
    color : #fa6360;
    font-size : 130%;
    padding-left: 5px;
}


/* ****  BUSSDICT  ************************** */
.bussdictEntry .Entry
{
    font-size : 12pt;
    text-align : justify;
    display : block;
    margin-top : 8px;
}

.bussdictEntry .supp
{
    background-color : gray;
}

.bussdictEntry .ABBR,
.bussdictEntry .AMEQUIV,
.bussdictEntry .BREQUIV,
.bussdictEntry .COLLO,
.bussdictEntry .COMP
{
    font-weight : bold;
}

.bussdictEntry .ACTIV,
.bussdictEntry .BOX,
.bussdictEntry .COMMENT
{
    display : none;
}

.bussdictEntry .ColloExa
{
    display : block;
    margin-left : 10px;
}

.bussdictEntry .COLLOINEXA
{
    font-style : italic;
    font-weight : bold;
}

.bussdictEntry .DERIV
{
    font-weight : bold;
    font-size : 120%;
}

.bussdictEntry .ErrorBox
{
    display : block;
}

.bussdictEntry .EXAMPLE
{
    display : block;
    margin-left : 15px;
    color : gray;
}

.bussdictEntry .FIELD
{
    display : none;
}

.bussdictEntry .FREQ,
.bussdictEntry .LEVEL
{
    font-weight : bold;
    color : red;
}

.bussdictEntry .FULLFORM
{
    font-weight : bold;
}

.bussdictEntry .GEO,
span.geo
{
    font-weight : normal;
    font-style : italic;
    color : #364395;
}

.bussdictEntry .GLOSS
{
    font-weight : normal;
    font-style : normal;
    color : #364395;
}

.bussdictEntry .GramExa
{
    display : block;
    margin-left : 10px;
}

.bussdictEntry .HINTBOLD,
.bussdictEntry .HINTTITLE
{
    font-weight : bold;
}

.bussdictEntry .HINTITALIC
{
    font-style : italic;
}

.bussdictEntry .HOMNUM
{
    vertical-align : super;
    font-size : 12pt;
    font-weight : bold;
}

.bussdictEntry .HWD
{
    display : none;
}

.bussdictEntry .HYPHENATION
{
    font-weight : bold;
    font-size : 160%;
}

.bussdictEntry .LEXUNIT,
.bussdictEntry .LEXVAR
{
    font-weight : bold;
}

.bussdictEntry .LINKWORD
{
    color : #364395;
}

.bussdictEntry .NOTE,
.bussdictEntry .Noteprompt
{
    display : none;
}

.bussdictEntry .OBJECT
{
    font-weight : normal;
}

.bussdictEntry .OPP,
.bussdictEntry .ORTHVAR,
.bussdictEntry .PASTPART,
.bussdictEntry .PASTTENSE
{
    font-weight : bold;
}

.bussdictEntry .PhrVbEntry
{
    display : block;
}

.bussdictEntry .PHRVBHWD
{
    font-weight : bold;
    color : #364395;
    font-size : 120%;
}

.bussdictEntry .PIC,
.bussdictEntry .PICCAL
{
    display : none;
}

.bussdictEntry .PLURALFORM
{
    font-weight : bold;
}

.bussdictEntry .PRESPART,
.bussdictEntry .PRESPARTX,
.bussdictEntry .PROPFORM,
.bussdictEntry .PROPFORMPREP,
.bussdictEntry .PTandPP,
.bussdictEntry .PTandPPX
{
    font-weight : bold;
}

.bussdictEntry .REFHOMNUM
{
    vertical-align : super;
    font-size : 60%;
}

.bussdictEntry .REFHWD
{
    text-transform : lowercase;
    font-style : normal;
    font-variant : small-caps;
}

.bussdictEntry .FIELDXX,
.bussdictEntry .Crossrefto .REFLEX {
    display : none;
}

.bussdictEntry .REFLEX
{
    font-weight : bold;
}

.bussdictEntry .REGISTERLAB
{
    color : #364395;
    font-style : italic;
}

.bussdictEntry .RELATEDWD
{
    font-weight : bold;
}

.bussdictEntry .Sense {
    display : block;
    margin-left : 20px;
    margin-bottom : 15px;
}

.bussdictEntry .SIGNPOST
{
    background-color : gray;
    color : white;
    font-weight : bold;
}

.bussdictEntry .STRONG
{
    font-style : italic;
}

.bussdictEntry .Subsense
{
    display : block;
    margin-left : 10px;
}

.bussdictEntry .SUPERL,
.bussdictEntry .SYN,
.bussdictEntry .T3PERSSING,
.bussdictEntry .T3PERSSINGX,
.bussdictEntry .UNCLASSIFIED
{
    font-weight : bold;
}

.bussdictEntry .USAGE
{
    display : none;
}

span.neutral
{
    font-style : normal;
    font-weight : normal;
    font-variant : normal;
}

span.italic,
span.infllab
{
    font-style : italic;
    font-weight : normal;
    font-family : Times New roman;
}

span.warning
{
    font-style : normal;
    font-weight : bold;
    color : red;
}

span.sensenum
{
    font-style : normal;
    font-weight : bold;
    margin-right : 5px;
    margin-left : 3px;

}

span.synopp
{
    font-style : normal;
    font-weight : bold;
    color : darkblue;
}

.bussdictEntry .ColloBox,
.bussdictEntry .ThesBox,
.bussdictEntry .F2NBox,
.bussdictEntry .GramBox,
.bussdictEntry .UsageBox {
    display : block;
    border-style : solid;
}

.bussdictEntry .GramBox.nobox {
    display : inline;
    border-style : none;
    background-color : none;
}

.bussdictEntry .GramBox.nobox .EXPL {
    display : inline;
}

.bussdictEntry .HEADING,
span.heading,
.bussdictEntry .Gramref {
    font-weight : bold;
    font-size : 120%;
    color : #364395;
}

.bussdictEntry .gramref {
    margin-left : 5px;
    margin-right : 5px;
}

.bussdictEntry .HEADING.newline {
    display : block;
}

.bussdictEntry .SECHEADING,
span.subheading {
    display : block;
    font-weight : bold;
    font-style : italic;
    text-decoration : underline;
}

.bussdictEntry .Collocate.newline,
.bussdictEntry .Exponent,
.bussdictEntry .GramBox .EXPL,
.bussdictEntry .EXPL.newline {
    display : block;
}

.bussdictEntry .Collocate.inline {
    display : inline;
}

.bussdictEntry .COLLOC,
.bussdictEntry .EXP,
.bussdictEntry .EXPR {
    font-weight : bold;
}

.bussdictEntry .COLLOC.key {
    color : #364395;
}

span.keycollo {
    font-weight : bold;
    color : #364395;
}

.bussdictEntry .THESPROPFORM {
    font-weight : bold;
}

.bussdictEntry .COLLEXA,
.bussdictEntry .THESEXA,
.bussdictEntry .GOODCOLLO {
    font-style : italic;
}

.bussdictEntry .LearnerItem {
    display : block;
}

.bussdictEntry .BADCOLLO,
.bussdictEntry .BADEXA {
    text-decoration : line-through;
}

.bussdictEntry .DEFBOLD {
    font-weight : bold;
}

.bussdictEntry .CompareWord,
.bussdictEntry .CompareWord,
.bussdictEntry .EXP {
    display : block;
}

.bussdictEntry .UNDERLINE {
    text-decoration : underline;
}

.bussdictEntry .boxheader {
    display : block;
    background-color : #364395;
    color : white;
    font-weight : bold;
}

.bussdictEntry .SubEntry.embedded {
    margin-top : -5px;
    margin-bottom : 0px;
    margin-left : 30px;
}

.bussdictEntry .SubEntry {
    display : block;
    margin-top : 2px;
    margin-bottom : 2px;
    margin-left : 20px;
}

.bussdictEntry .SubEntry .HWD {
    display : inline;
    font-weight : bold;
    font-size : 120%;
    color : #364395;
}

/* **** EXAS ***** */
.exaGroup .exaEntry {
    margin-bottom : 20px;
    display : block;
}

.exaGroup .exaGroup {
    display : block;
    margin-bottom : 20px;
}

.exaGroup .title {
    font-size : 110%;
    font-weight : bold;
    color : black;
    display : block;
    margin-left : 5px;
    margin-top: 15px;
}

.exaGroup .exa {
    display : block;
    color : gray;
    margin-left : 15px;
}

.exaGroup .NodeW {
    font-weight : bold;
}

.asset {
    margin-top : 30px;
}
/* **** TOPIC ***** */
.Entry .related_topics {
    padding: 0 4px 1px 0;
    font-size: 16px;
    font-family: Tahoma, Arial, Helvetica;
    color: #000;
}

.Entry .topic {
    color: red;
    text-decoration:underline
}

.Entry .topic:hover {
    color: #4693db;
}
/* ** WORD FAMILY ** */
.pos {
        color: green;
        font-weight: normal;
}
.wordfams {
        font-weight: bold;
}
.wordfams .crossRef, .wordfams .w {
        margin: 0 6px;
}
.wordfams .crossRef {
        border-bottom: thin dotted gray;
}
/* ** ETYM ** */
.etym .Head {
        font-weight: bold;
}
.etym .Head .HOMNUM {
        vertical-align: super;
    font-size: 12pt;
}
/* ***** CSS TIDY FOR JAPANESE-E************************** */
/*  4 sections: printing and used tags,                  */
/*  xslt tags,                                           */
/*  non-printing and used tags and finally               */
/*  non-used tags (but in the dtd).                      */
/*  tags are alphabetically ordered withi each category  */


/* *************PRINTING TAGS***************** */

.page {
    font-family : arial, helvetica, sans-serif;
    font-size : 12pt;
    display : block;
}

.pagetitle {
    font-size : 1.6em;
    font-weight : bold;
}

/* *******XSLT TAGS******** */

div.menu
{
    background-color : #E0E0E0;
    margin : 0px 20px;
    padding : 4px 4px 4px 4px;
}


/* ***** CSS TIDY FOR JAPANESE-E************************** */
/*  4 sections: printing and used tags,                  */
/*  xslt tags,                                           */
/*  non-printing and used tags and finally               */
/*  non-used tags (but in the dtd).                      */
/*  tags are alphabetically ordered withi each category  */


/* *************PRINTING TAGS***************** */

.page {
    font-family : arial, helvetica, sans-serif;
    font-size : 12pt;
    display : block;
}

.pagetitle {
    font-size : 1.6em;
    font-weight : bold;
}

html {
    overflow-x: visible;
    overflow-y: scroll;
}

body {
    overflow-y: initial;
    min-height: unset;
}

html, body {
    height: initial;
}

body, div, ul, li, h1, h2, h3, h4, h5, h6, p, form, input, label, blockquote, table, thead, tbody, th, tr, td, dl, dt, dd {
    margin: 0;
    padding: 0
}

* {
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}

.lm5ppbody {
    display: block;
}

/* patch for vanilla */
.entry_content, .page_content, .error_content {
    margin: 5px 8px 20px 8px;
}

/* '.POS' classname seems to conflict with edict ??? */
/* change to lm5pp_POS */
.ldoceEntry .lm5pp_POS,
.bussdictEntry .lm5pp_POS {
    color: green;
    font-weight: bold;
    margin: 0 0 0 10px
}

/* patch for vanilla */
/* distance between words */
.dictentry {
    margin-bottom: 10px;
}

/* patch form vanilla */
.ldoceEntry .Sense {
    margin-left: 20px;
    margin-bottom: 5px;
}

.ldoceEntry .GramExa, .ldoceEntry .ColloExa {
    margin-left: 18px;
}

.ldoceEntry .GramExa .EXAMPLE,
.ldoceEntry .ColloExa .EXAMPLE {
    margin-left: 24px;
}

.ldoceEntry .COLLO, .ldoceEntry .PROPFORM, .ldoceEntry .PROPFORMPREP {
    margin-left: 0px;
}

.Sense img {
    float: right;
    /* width: 30%; */
    /* max-width: 250px; */
    max-width: 40%;
    max-height: 170px;
    height: auto;
}

.cn_txt, .cn_txt_menu {
    font-family: "Microsoft Yahei";
    font-size: 90%;
}

.cn_txt .en_txt {
    font-size: 111%;
}

.en_txt {
    font-family: arial, helvetica, sans-serif;
}

.ldoceEntry .EXAMPLE {
    margin-left: 42px;
    /* line-height: 0.9em; */
}

.EXAMPLE .cn_txt, .Error .cn_txt {
    display: block;
    margin-top: 2px;
    /* margin-bottom: 8px; */
}

.EXAMPLE ~ .EXAMPLE, .GramExa ~ .EXAMPLE, .ColloExa ~ .EXAMPLE {
    margin-top: 5px;
}

/*
.EXAMPLE .cn_txt{
	display:block;
	margin-bottom: 8px;
}
*/
.Error .cn_txt {
    margin-left: 20px;
}

.Error .en_txt .cn_txt {
    margin-left: 0px;
    display: inline;
}

.ErrorBox .Error + .Error {
    margin-left: 18px;
}

.collo .cn_txt {
    display: inline-block;
    margin-left: 5px;
}

.Hint .cn_txt {
    display: block;
    margin-left: 1.1em;
}

a[title="Play Example"] {
    float: left;
    width: 25px;
    position: absolute;
    left: -25px;
    top: -3px;
}

.EXAMPLE {
    position: relative;
    /*  	margin-left: 40px; */
}

.english {
    /*margin-left: -10px;*/
    /* line-height: 1.3em; */
    /*display: inline-block;*/
}

.frequency img {
    max-width: 100%;
    height: auto;
}

.PhrVbEntry .Sense ~ .Tail {
    margin-left: 20px;
    margin-bottom: 15px;
}

.ldoceEntry .HWD {
    display: inherit;
    font-weight: bold;
    font-size: 160%;
    color: red;
}

.ldoceEntry .HYPHENATION {
    display: none;
}

.ldoceEntry .UsageBox, .ldoceEntry .SpokenSect {
    display: block;
}

.ldoceEntry .Hint {
    display: block;
}

.ldoceEntry .UsageBox {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid #364395 1px;
    padding: 15px;
    margin: 8px 0;
}

.ldoceEntry .ColloBox, .ldoceEntry .ThesBox, .ldoceEntry .F2NBox, .ldoceEntry .GramBox {
    padding-top: 7px;
    padding-bottom: 9px;
}

.ldoceEntry .SECHEADING, .ldoceEntry .subheading {
    margin: 7px 0 7px 0;
}

.ldoceEntry .Collocate, .ldoceEntry .Exponent {
    display: block;
    margin: 9px 0 0 6px;
}

.iphone.eudic .ldoceEntry .Collocate .collo {
    display: inline-block;
    margin-left: 0px;
}

.ldoceEntry .lm5ppBox .EXAMPLE {
    line-height: 1.2em;
    margin-left: 20px;
}

.ldoceEntry .lm5ppBox .EXAMPLE ~ .EXAMPLE {
    margin-top: 0px;
}

.ldoceEntry .REFHWD + .lm5pp_POS {
    margin-left: -5px;
}

/* DEBUG DEBUG DEBUG */
* [type=phrv] {
    text-decoration-line: line-through;
    background-color: beige;
    display: none;
}

/* RELEASE, RELEASE, RELEASE */
/*
[type=phrv],[type=phrase]{
    display: none;
}
 */
/* ---------------------------- hide Corpus &  Business Dictionary =========== */
.bussdict, .corpus {
    display: none;
}

.topics_container {
    display: none;
}

/* --------------------------- Topic Cloud-------------------------------------------- */
.topics_container {
    font-size: 0.9em;
    margin-bottom: -5px;
    margin-top: 2px;
}

.Entry .related_topics {
    font-size: inherit;
}

/* --------------------------- sign of folding/unfolding sense  ---------------------- */
span.sensenum {
    margin-right: 3px;
}

.LDOCE5pp_sensefold {
    cursor: pointer;
    /* width: 80px; */
    display: inline-block;
    /* margin-right: -52px; */
    z-index: 1;
    /*user-select: none;*/
}

.LDOCE5pp_sensefold_other {
    cursor: pointer;
}

.LDOCE5pp_sensefold.fixed {
    cursor: auto;
}

.Sense > .LDOCE5pp_sensefold {
    margin-right: -10px;
}

.SpokenSect > .LDOCE5pp_sensefold .foldsign {
    margin-right: -10px;
}

.lm5ppBox .foldsign {
    color: #384595;
    margin-right: -10px;
}

.LDOCE5pp_sensefold + .REFHWD {
    margin-left: -4px;
}

.ldoceEntry .SIGNPOST ~ .REFHWD{
    margin-left: 6px;
}

.foldsign, .foldsignbox {
    display: inline-block;
    position: relative;
    width: 1.5rem;
}

.foldsignbar1, .foldsignbar2 {
    width: 7px;
    height: 1px;
    background-color: #333;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    position: absolute;
    top: 12px;
    left: 0px;
}

.fixed .foldsignbar1, .fixed .foldsignbar2 {
    opacity: 0;
}

.wordfams .foldsign {
    margin-left: 5px;
}

.wordfams .foldsignbar1, .wordfams .foldsignbar2 {
    width: 12px;
}

.foldsign_fold .foldsignbar1 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

/* --------------------------- margin for Crosssense   ------------------------------- */
.merge_sense {
    margin-right: 10px;
}

/* --------------------------- show/hide syllable -------------------------------------- */
.HWD .HYP {
    display: none;
}

/* --------------------------- Box show/hide controls  ------------------------------- */
.BoxTitle {
    /* display: inline-block; */
    margin-left: 6px;
    font-weight: bold;
    font-size: 94%;
    color: #364395;
}

.BoxPanel {
    display: block;
    margin-left: 10px;
}

.BoxHide .BoxPanel {
}

.ldoceEntry .lm5ppBox > .lm5ppBoxHead,
.ldoceEntry .lm5ppBox > .lm5ppBoxHead .boxheader {
    line-height: 1em;
    font-size: 100%;
}

.lm5ppBox > [class*="LDOCEVERSIONLOGO_"] {
    position: absolute;
    left: -2px;
    top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 85%;
}

.lm5ppbody .ldoceEntry .lm5ppBox {
    padding: 10px;
    overflow: hidden;
}

.lm5ppbody .ldoceEntry .BoxHide.lm5ppBox {
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    /* margin: 0px 0; */
}

.ldoceEntry .lm5ppBox:not(.BoxHide) > .lm5ppBoxHead {
    cursor: pointer;
}

/* --------------------------- LDOCE Online content/5th content   ------------------------------- */
* [class*="LDOCEVERSION_"] {
    position: relative;
}

* [class*="LDOCEVERSIONLOGO_"] {
    font-weight: bold;
    font-size: 67%;
    display: inline-block;
    text-transform: uppercase;
    /* padding: 1px 5px; */
    font-family: -webkit-body;
    /* padding-top: 1px; */
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    text-align: -webkit-center;
}

.LDOCEVERSIONLOGO_new {
    background-color: #ff0002;
    color: white;
    font-size: 60%;
}

.LDOCEVERSIONLOGO_5 {
    background-color: #35a3ff;
    color: rgb(255, 255, 255);
}

.Sense > [class*="LDOCEVERSIONLOGO_"],
.Subsense > [class*="LDOCEVERSIONLOGO_"],
.EXAMPLE > [class*="LDOCEVERSIONLOGO_"],
.Exponent > [class*="LDOCEVERSIONLOGO_"],
.GramExa > [class*="LDOCEVERSIONLOGO_"],
.ColloExa > [class*="LDOCEVERSIONLOGO_"],
.Collocate > [class*="LDOCEVERSIONLOGO_"],
.ErrorBox > [class*="LDOCEVERSIONLOGO_"],
.ldoceEntry > [class*="LDOCEVERSIONLOGO_"] {
    position: absolute;
    left: -42px;
    top: 4px;
}

.EXAMPLE > [class*="LDOCEVERSIONLOGO_"] {
    left: -22px;
    top: 1px;
}

.Sense .EXAMPLE > [class*="LDOCEVERSIONLOGO_"] {
    left: -22px;
    top: 5px;
}

.Sense > [class*="LDOCEVERSIONLOGO_"],
.Subsense > [class*="LDOCEVERSIONLOGO_"] {
    left: -16px;
}

.Exponent > [class*="LDOCEVERSIONLOGO_"] {
    left: -18px;
}

.ErrorBox > [class*="LDOCEVERSIONLOGO_"] {
    left: -16px;
    top: 0px;
}

.Collocate > [class*="LDOCEVERSIONLOGO_"] {
    left: -18px;
}

.GramExa > [class*="LDOCEVERSIONLOGO_"], .ColloExa > [class*="LDOCEVERSIONLOGO_"] {
    left: -14px;
}

.ldoceEntry > .Head > [class*="LDOCEVERSIONLOGO_"] {
    display: inline-block;
    position: relative;
    top: -8px;
}

.lm5ppBoxHead > [class*="LDOCEVERSIONLOGO_"] {
    margin-right: 3px;
    /*top: 2px;*/
    margin-bottom: 5px;
    /* 	left: -21px; */
    /* 	top: 3px; */
}

.Crossref.ldoce4img{
    color: #4058a4;
}

/* --------------------------- CSS for images ------------------------------- */
.ldoce5pp-image-small {
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    transition: 0.3s;
    margin-left: 15px;
}

.ldoce5pp-image-small:hover {
    opacity: 0.7;
}

/* The Close Button */
.ldoce5pp-image-close {
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 0.3em;
}

.ldoce5pp-image-caption:hover, .ldoce5pp-image-caption:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.ldoce5pp-image-show {
    display: none;
    position: fixed;
    z-index: 99;
    cursor: zoom-out;
    cursor: -webkit-zoom-out;
    box-sizing: border-box;
    /* padding: 9px; */
    /* margin: 3px; */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    background-color: currentColor;
    /* Black w/ opacity */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    border: 4px solid currentColor;
}

.ldoce5pp-image-box {
    position: relative;
    margin: auto;
    /*vertical-align: middle;*/
    max-width: fit-content;
    max-height: fit-content;
}

/* ========================== media ========================== */
@media screen and (max-width: 761px) {
    /* patch for vanilla */
    .entry_content, .page_content, .error_content {
        margin: 0px 1px 10px 1px;
    }

    .wordfams {
        margin-bottom: 6px;
    }

    .ldoceEntry .Sense {
        margin-left: 10px;
    }

    .ldoceEntry .EXAMPLE {
        margin-left: 28px;
    }

    .ldoceEntry .GramExa, .ldoceEntry .ColloExa {
        margin-left: 5px;
    }

    .ldoceEntry .GramExa .EXAMPLE, .ldoceEntry .ColloExa .EXAMPLE {
        margin-left: 24px;
    }

    .ColloBox .BoxPanel {
        margin-left: -3px;
    }

    .ldoceEntry .SECHEADING {
        font-size: 80%;
    }

    /* ldoce5++ style */
    .lm5ppMenu_title {
        display: none;
    }

    .lm5ppMenu_title.mini {
        display: inline;
    }

}

@media screen and (min-width: 762px) and (max-width: 947px) {
    .entry_content, .page_content, .error_content {
        margin: 1px 2px 10px 2px;
    }

}

/* ******************* END END END END of image controls END END END END ********************* */
.pagetitle {
    background-repeat:repeat-y;
    border-top-style:double;
}
